{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1618">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-left">
                <h1 class="ml11">
                  <span class="text-wrapper">
                    <span class="line line1"></span>
                    <span class="letters">Katie & Dáire's wedding</span>
                  </span>
                </h1>
                <h3 class="cs-text" style="color: white;">July 17th 2025.</h3>
            </div>
        </div>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="static/isola-del-garda.jpg">
        <source media="(min-width: 601px)" srcset="static/isola-del-garda.jpg">
        <img src="static/isola-del-garda.jpg" alt="Isola del garda" width="100%" height="100%" aria-hidden="true">
    </picture>
</section>
<section id="hero-1947" style="background-color: #ffe2d6;">
    <div class="cs-container">
        <div class="cs-content">
            <h1>Wedding Itinerary (3 Days)</h1>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">Wednesday 16th: Pre-Wedding Welcome Drinks and Pizza Party</h3>
                    <ul>
                        <li>Location: Villa Bissiniga, Salo</li>
                        <li>Time: 6:30PM - 11:00PM</li>
                        <li style="list-style-type: none; text-decoration: underline; font-weight: bold;">Guest Instructions:</li>
                        <li>Meeting Time: Guests should gather at Villa Bissiniga by 6:30 PM.</li>
                        <li style="list-style-type: none; text-decoration: underline; font-weight: bold;">Transportation:</li>
                        <li>Taxi Service: There will be taxi for guests from Gardone Riviera to Villa Bissiniga and back home again. Pick up point will be from Hotel Du Lac</li>
                    </ul>
                </li>
                <li class="cs-item">
                  <h3 class="cs-h3">Thursday 17th: Wedding Day</h3>
                  <ul>
                    <li>Time: Gardone Riviera Dock Meeting Time: 1:30PM-2:00PM</li>
                    <li style="list-style-type: none; text-decoration: underline; font-weight: bold;">Guest Instructions:</li>
                    <li>Arrival: Guests should arrive at the Gardone Riviera dock by 1:30PM to ensure a timely departure to the private
                        island. Grab a cocktail on the lake while you wait.</li>
                    <li style="list-style-type: none; text-decoration: underline; font-weight: bold;">Transportation to the dock:</li>
                    <li>Walking: Most guests should be within walking distance if staying in Gardone Riviera</li>
                    <li>If guests are in Salo, we will potentially get a collection there. Depends closer to the time.</li></li>
                  </ul>
                </li>
                <li class="cs-item">
                  <h3 class="cs-h3">Friday 18th: Day 2 Food & Drinks</h3>
                  <ul>
                    <li>Location: Hotel Savoy Palace, Gardone Riviera (Terrace)</li>
                    <li>Time: 5:30PM</li>
                    <li style="list-style-type: none; text-decoration: underline; font-weight: bold;">Guest Instructions:</li>
                    <li>Meeting Time: Guests should arrive at the Hotel Savoy Palace terrace by 5:30PM.</li>
                  </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="hero-1947" style="background-color: white;">
    <div class="cs-container">
        <div class="cs-content">
            <h1>Where to stay on the lake</h1>
            <h3>Please stay either in town Salo or Gardone Riviera. Anywhere else on the lake will make it difficult to get around for the wedding week.</h3>
            <img src="/static/map.jpg" height="auto" width="500px">
            <h1>Wedding location & travel tips</h1>
            <h3>What airport to fly into?</h3>
            <p>Two main airports you can travel into are Milan Bergamo or Verona. Both are very similar when it comes to travelling to Gardone. You can fly from Belfast or Dublin to Bergamo and Verona is only from Dublin. Some flights are available from Dublin and Belfast. £128 return from Dublin to Bergamo not including luggage.
               To travel from Verona or Milan Bergamo to Gardone Riviera on Lake Garda, you have several transportation options.</p>
            <h3>By car</h3>
            <p>Car Rental: At the Milan Bergamo Airport, you can rent a car from one of the many car rental agencies. We recently rented a Skoda jeep from Rental Plus. Cost us £150 for a week rental and we had no issues. Journey is < 1 hour from Bergamo to Gardone and it's basically a straight road!!</p>
            <h3>By taxi (very few so book in advance)</h3>
            <ul style="list-style: none;">
                <li>Alla: She has a few taxi drivers under her, so very helpful. +39 327 449 0662</li>
                <li>Roberto: +39 338 365 9218</li>
                <li>Radio Taxi: +39 0365 43516</li>
                <li>Lake Garda Transfers: Mr Giuseppe Cipani: +39 329 7108261 <a href="https://lakegardatransfers.co.uk/ask-here-for-transfer-information/">lakegardatransfers.co.uk</a></li>
            </ul>
            <h3>Tips:</h3>
            <ul style="list-style: none;">
                <li>Timetables: Check the schedules for trains and buses in advance, especially if traveling during weekends or holidays.</li>
                <li>Luggage: If you have a lot of luggage, the car rental option might be more convenient.</li>
                <li>Exploring the lake: If you plan to explore the lake such as visiting other towns like Limone and Sirmione which we recommend, then car is best option. On our last vist to Lake Garda we drove all of the West side of the Lake and we LOVED it. This is why I recommend a car so you can explore the lake at your own leisure however Ferry's also all go around the lake.</li>
                <li>Lake Garda Transfers: Mr Giuseppe Cipani: +39 329 7108261 <a href="https://lakegardatransfers.co.uk/ask-here-for-transfer-information/">lakegardatransfers.co.uk</a></li>
            </ul>
            <p>With these options, you can choose the most suitable and comfortable way to travel from Milan Bergamo to Gardone Riviera on Lake Garda. Enjoy your journey and the stunning views along the way!</p>
        </div>
    </div>
</section>
<section id="hero-1947" style="background-color: #4E8575;">
    <div class="cs-container">
        <div class="cs-content">
            <h1>Accomodation Recommendations</h1>
            <p>Given that the wedding and day-two celebrations will be held in Gardone Riviera that is highlighted in red above. As there are limited taxis in the area, it is best for you to stay as close to Gardone Riviera as possible. Salo Town is only 5-8 mins drive and Salo has more night life. So if you decide to stay in Salo this is not a problem either. Here are some detailed suggestions for accommodation and logistics to ensure a smooth and enjoyable experience for everyone. Before booking, please let myself or Daire know so we can let you know if it's a good area!</p>
            <h3>Accomodation</h3>
            <ul style="list-style: none;">
                <li>Hotels in Gardone Riviera:</li>
                <li>Hotel Du Lac: Perfect location (5 minute walk from wedding venue) & central to Gardone. Majority of the guests are staying here (45+)</li>
                <li>Hotel Villa Del Sogno: A charming hotel with beautiful gardens and excellent service.</li>
                <li>Hotel Spiaggia d'Oro: Another great option with lake views, close to all the main attractions in Gardone Riviera and some guests have booked here already!</li>
                <li>Hotel Bellevue: A few guests have  booked here as well.</li>
            </ul>
            <ul style="list-style: none;">
                <li>Vacation Rentals:</li>
                <li>Airbnb and Vrbo: Look for villas or apartments in Gardone Riviera or Salo for guests who prefer a more private and home-like stay.</li>
            </ul>
            <h3>Makeup</h3>
            <ul style="list-style: none;">
                <li>On the morning off the wedding I have booked 2 makeup artists to help with guests makeup. I have covered the travel fee to help with costs, but makeup is 70 euro. They will be doing makeups from Hotel Du Lac.</li>
                <li>There are 3 slots available, if you're interested please reach out to Katie directly so I can put your name down.</li>
                <li><a href="https://www.instagram.com/bridalmakeupvenice?igsh=MWx1dnY4MTNwYjQxMQ==">www.instagram.com/bridalmakeupvenice</a></li>
                <li>Take a look at her Instragram, her makeups are gorgeous!!</li>
            </ul>
        </div>
    </div>
</section>
<section id="hero-1947" style="background-color: #ffe2d6;">
        <div class="cs-container">
        <div class="cs-content">
            <h1>Food Recommendations</h1>
            <p>During our recent visit we honestly fell in love with the food and drinks. Be ready for 4-5 euro Spritz and 2 euro coffees that are incredible!!</p>
            <p>Here our some of our recommendations. Please remember I'm sure there is loads other gorgeous places out there these are just where we had the time to eat in.</p>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">Osteria Antico Brolo (Gardone)</li>
                <li>Probably our favourite so far in lake Garda!</li>
                <li>Michelin star restaurant but reasonably priced.</li>
                <li>Must book prior.</li>
            </ul>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">L'Osteria dell'Orologio (Salo)</li>
                <li>The best duck ragu and carbonara. Also popular for their wine!</li>
                <li>Must book prior.</li>
            </ul>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">Osteria Antico Brolo (Gardone)</li>
                <li>Probably our favourite so far in lake Garda.</li>
                <li>Must book prior.</li>
            </ul>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">Hotel BellaRiva Gardone</li>
                <li>Lovely for cocktails on the Lake and some lunch. Pastas / Club Sandwich was a hit for us!</li>
            </ul>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">Al Baretto (Salo)</li>
                <li>Best authentic Bruschetta in Salo.</li>
            </ul>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">Mamceita Cafe - Sweet and Salty (Salo)</li>
                <li>Daire loved his pancakes with Nutella here and great for a morning coffee (probably the best coffee we had here)</li>
            </ul>
        </div>
    </div>
</section>
<section id="hero-1947" style="background-color: white;">
    <div class="cs-container">
        <div class="cs-content">
            <h1>Other parts of the lake to visit</h1>
            <p>If you have time, we really strongly advise to visit other parts of the Lake in your free time! Below are our favourite towns that are a MUST visit!!</p>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">Sirmione</li>
                <li>The most popular tourist destination on the south shore, known for its castle and thermal baths.</li>
            </ul>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">Malcesine</li>
                <li>The pearl of Lake Garda, located in a picturesque setting with a cable car to Monte Baldo.</li>
            </ul>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">Limone Sul Garda</li>
                <li>A charming town with lemon groves and a scenic promenade.</li>
            </ul>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">Riva Del Garda</li>
                <li>A paradise for adventure lovers, with windsurfing, sailing, hiking, and biking opportunities.</li>
            </ul>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">Desenzano</li>
                <li>A lively town with a historic center, a harbor, and a nightlife.</li>
            </ul>
            <ul style="list-style: none;">
                <li style="font-weight: bold;">Gardaland</li>
                <li>Theme park for the kids and the adults :)</li>
            </ul>
        </div>
    </div>
</section>
<section id="hero-1947" style="background-color: #4E8575;">
    <div class="cs-container">
        <div class="cs-content">
            <h1>Contact Us</h1>
            <h3>Katie Phone No.</h3>
            <p>+44 7715975172</p>
            <h3>Dáire Phone No.</h3>
            <p>+44 7435657478</p>
        </div>
    </div>
</section>
<script>
// Wrap every word in a span
var textWrapper = document.querySelector('.ml11 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S+/g, "<span class='word'>$&</span>");

anime.timeline({loop: false})
  .add({
    targets: '.ml11 .line',
    scaleY: [0, 1],
    opacity: [0.5, 1],
    easing: "easeOutExpo",
    duration: 700
  })
  .add({
    targets: '.ml11 .line',
    translateX: [0, (() => {
        let lastWord = document.querySelector('span .letters');
        return lastWord ? lastWord.offsetLeft + lastWord.getBoundingClientRect().width : 0;
    })()],
    easing: "easeOutExpo",
    duration: 700,
    delay: 100
  })
  .add({
    targets: '.ml11 .word',
    opacity: [0, 1],
    easing: "easeOutExpo",
    duration: 600,
    offset: '-=775',
    delay: (el, i) => 100 * (i + 1)  // Adjust delay for smooth animation
  })
  .add({
    targets: '.ml11',
    opacity: 1,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });
</script>
{% endblock %}
{% block footer %}
{{ super () }}
{% endblock %}